# In Class - 3

### Break Satement and Continue Statement

In [12]:
# Break Statement --> jeta cacci sheta pai gelei stop 

for i in range(10):
    if i==7:
        break
    print("The Value is ", i)

print()
#Continue Statemet --> jeta te continu statement caalabo , that will be skip

for j in range(10):
    if j==7:
        continue
    print("The Valeu is ",j)

The Value is  0
The Value is  1
The Value is  2
The Value is  3
The Value is  4
The Value is  5
The Value is  6

The Valeu is  0
The Valeu is  1
The Valeu is  2
The Valeu is  3
The Valeu is  4
The Valeu is  5
The Valeu is  6
The Valeu is  8
The Valeu is  9

# Break Statement : ->

In [29]:
#tuple(break_values) converts the list [0, 1, 2, 3, 4, 5, 6] into the tuple (0, 1, 2, 3, 4, 5, 6).
# The append() method is used to add an element to the end of a list

break_values = []
for i in range(10):
    if i == 7:
        break
    break_values.append(i)
print("For Break Statement The Values are =", tuple(break_values))

For Break Statement The Values are = (0, 1, 2, 3, 4, 5, 6)

For Continue Satements the values are = ('a', 'c', 'd')

# Continue Statement : ->

In [30]:
#tuple(break_values) converts the list [0, 1, 2, 3, 4, 5, 6] into the tuple (0, 1, 2, 3, 4, 5, 6).
# The append() method is used to add an element to the end of a list

continue_values = []
for j in range(10):
    if j == 7:
        continue
    continue_values.append(j)

print("For Continue Statement The Values are =", tuple(continue_values))


print()

continue_value =[]
data = ['a', 'b', 'c', 'd']
for i in data:
    if i=='b':
        continue
    continue_value.append(i)
print("For Continue Satements the values are =",tuple(continue_value))

For Continue Statement The Values are = (0, 1, 2, 3, 4, 5, 6, 8, 9)

For Continue Satements the values are = ('a', 'c', 'd')

# Data structure in python

*String 
*List
*Tuple
*Set
*Dictionary

### String

In [32]:
dept = ['Hira', 'Jira', 'Mira']
print(type(dept))

<class 'list'>

In [34]:
# It stands for "formatted" and makes string formatting easier, more readable, and faster. 
# It is particularly useful when you need to include dynamic content in strings.

dept = ['Hira', 'Jira', 'Mira']
print(f"{dept} - {type(dept)}")

['Hira', 'Jira', 'Mira'] - <class 'list'>

Common list method in Python

*append()
*insert()
*remove()
*pop()
*clear()
*index()
*count()
*sort()
*reverse()
*copy()

### append()

In [35]:
# append(): Adds an element to the end of the list

my_list = [1, 2, 3]
my_list.append(4)
print("After append:", my_list)

After append: [1, 2, 3, 4]

### insert()

In [37]:
# insert(): Inserts an element at a specific position

my_list = [1, 2, 3]
my_list.insert(1, 'a')
print("After insert:", my_list)

After insert: [1, 'a', 2, 3]

### remove()

In [42]:
# remove(): Removes the first occurrence of a specific elementabs
my_list = [1, 2, 3, 4 ]
my_list.remove(2)
print("After remove:", my_list)

After remove: [1, 3, 4]

### pop()

In [ ]:
#pop(): Removes and returns an element at a specific position (default is the last element)
my_list = [1, 2, 3]
popped_element = my_list.pop()
print("After pop:", my_list)
print("Popped element:", popped_element

# Difference Between Remove and Pop method

In [49]:
'''pop() :

By default, pop() removes and returns the last element of the list.
-> You can also specify an index to remove and return the element at that specific position.'''

my_list = [1, 2, 3, 4]
popped_element = my_list.pop()
print(popped_element)  # Output: 4
print(my_list)         # Output: [1, 2, 3]

popped_element = my_list.pop(1)
print(popped_element)  # Output: 2
print(my_list)         # Output: [1, 3]

print ()
print("the below section given the rmeove method()")


'''remove : 

You need to provide the value you want to remove, not the index.
 -> the specified value is not found in the list, it raises a ValueError '''

my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
print(my_list)  # Output: [1, 3, 2, 4]

4
[1, 2, 3]
2
[1, 3]

the below section given the rmeove method()
[1, 3, 2, 4]

### clear()

In [51]:
# clear(): Removes all elements from the list.

my_list = [1, 2, 3]
my_list.clear()
print("After clear:", my_list)

After clear: []

### index()

In [73]:
# index(): Returns the index of the first occurrence of a specific element

my_list = [1, 5, 2, 9, 10]
index_of_4 = my_list.index(10)
print("Index of 4:", index_of_4)

Index of 4: 4

### count()

In [74]:
#count(): Returns the number of occurrences of a specific element.
my_list = [1, 2, 3, 2, 2,1,1,5,1]
count_of_1 = my_list.count(1)
print("Count of 1:", count_of_1)

Count of 1: 4

### sort()

In [75]:
# sort(): Sorts the list in ascending order (can also sort in descending order if specified)
my_list = [3, 1, 2]
my_list.sort()
print("After sort (ascending):", my_list)
# Output: After sort (ascending): [1, 2, 3]

my_list.sort(reverse=True)
print("After sort (descending):", my_list)
# Output: After sort (descending): [3, 2, 1]

After sort (ascending): [1, 2, 3]
After sort (descending): [3, 2, 1]

### reverse()

In [76]:
# reverse(): Reverses the order of elements in the list
my_list = [1, 2, 3]
copied_list = my_list.copy()
print("Original list:", my_list)
print("Copied list:", copied_list)
# Output: Original list: [1, 2, 3]
# Output: Copied list: [1, 2, 3]

Original list: [1, 2, 3]
Copied list: [1, 2, 3]

### copy()

In [78]:
# copy(): Returns a shallow copy of the list.
my_list = [1, 2, 3]
copied_list = my_list.copy()
print("Original list:", my_list)
print("Copied list:", copied_list)
# Output: Original list: [1, 2, 3]
# Output: Copied list: [1, 2, 3]

Original list: [1, 2, 3]
Copied list: [1, 2, 3]

# Tuples in Python

Tuples in Python are a type of collection that is similar to lists but with a few key differences

Characteristics of Tuples:

   -> Immutable: Once created, tuples cannot be modified. You cannot add, remove, or change elements in a tuple after its creation.
   -> Ordered: Tuples maintain the order of elements. You can access elements using indices.
   ->Allow Duplicates: Tuples can contain duplicate values.
   ->Iterable: You can iterate over tuples using loops.

Tuples are created using parentheses () or without any parentheses for single-element tuples.

In [79]:
# Creating a tuple
my_tuple = (1, 2, 3, 4)
print(my_tuple)  # Output: (1, 2, 3, 4)

# Creating a tuple with a single element
single_element_tuple = (1,)
print(single_element_tuple)  # Output: (1,)

# Creating a tuple without parentheses
another_tuple = 1, 2, 3, 4
print(another_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)
(1,)
(1, 2, 3, 4)

 # Tuple Slicing in python

### Basic Slicing:

In [80]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Slice from index 2 to 5
slice1 = my_tuple[2:6]
print(slice1)  # Output: (2, 3, 4, 5)

(2, 3, 4, 5)

### Omitting Start or Stop

In [81]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Slice from the beginning to index 4 (exclusive)
slice2 = my_tuple[:5]
print(slice2)  # Output: (0, 1, 2, 3, 4)

# Slice from index 5 to the end
slice3 = my_tuple[5:]
print(slice3)  # Output: (5, 6, 7, 8, 9)

(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)

### Using Step:

In [82]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Slice with a step of 2
slice5 = my_tuple[1:8:2]
print(slice5)  # Output: (1, 3, 5, 7)

# Slice with a negative step (reverses the order)
slice6 = my_tuple[8:1:-2]
print(slice6)  # Output: (8, 6, 4, 2)

(1, 3, 5, 7)
(8, 6, 4, 2)

### Full Tuple Slicing:

In [83]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Slice the entire tuple (returns a copy of the tuple)
slice7 = my_tuple[:]
print(slice7)  # Output: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Sets in python

### Creating Sets in python

In [84]:
# Using curly braces
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Using the set() function
another_set = set([1, 2, 3, 4, 5])
print(another_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

### Common set operation

#### Adding Elements

In [85]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

#### Removing Elements

In [86]:
my_set = {1, 2, 3, 4}

# Using remove()
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

# Using discard()
my_set.discard(2)
print(my_set)  # Output: {1, 4}

# Using pop()
popped_element = my_set.pop()
print(popped_element)  # Output: (arbitrary element)
print(my_set)          # Output: Set with remaining elements

{1, 2, 4}
{1, 4}
1
{4}

#### Clearing the Set:

In [87]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

#### Set Length:

In [88]:
my_set = {1, 2, 3}
print(len(my_set))  # Output: 3

3

# Frozen Sets in python

In [89]:
my_frozenset = frozenset([1, 2, 3, 4, 5])

# Iterating over a frozenset
for item in my_frozenset:
    print(item)

1
2
3
4
5

#### Frozen in sets operaiton

In [90]:

set1 = frozenset([1, 2, 3])
set2 = frozenset([3, 4, 5])
union_set = set1 | set2
print(union_set)  # Output: frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})

# Dictionary

### Creating Dictionaries:

In [92]:
#You can create dictionaries using curly braces {} or the dict() constructor.
# Using curly braces
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}
print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Using dict() constructor
another_dict = dict(name='Bob', age=25, city='Los Angeles')
print(another_dict)  # Output: {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}

### Accessing and Modifying Elements:

#### Accessing Values:

In [93]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict['name'])  # Output: Alice

Alice

#### Modifying Values :

In [94]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['age'] = 31
print(my_dict)  # Output: {'name': 'Alice', 'age': 31}

{'name': 'Alice', 'age': 31}

### Adding New Key-Value Pairs:

In [95]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['city'] = 'New York'
print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

### Removing Key-Value Pairs:

In [96]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Using del
del my_dict['city']
print(my_dict)  # Output: {'name': 'Alice', 'age': 30}

# Using pop()
age = my_dict.pop('age')
print(age)  # Output: 30
print(my_dict)  # Output: {'name': 'Alice'}

# Using popitem() - removes and returns the last added item
item = my_dict.popitem()
print(item)  # Output: ('name', 'Alice')
print(my_dict)  # Output: {}

{'name': 'Alice', 'age': 30}
30
{'name': 'Alice'}
('name', 'Alice')
{}

###  Clearing the Dictionary:

In [97]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict.clear()
print(my_dict)  # Output: {}

{}

# Datafram --> Pandas

In [113]:
import pandas as pd

In [114]:
people = [
    ["Shakila", 27, "Hira"],
    ["ABS", 25, "Kabir"],
    ["Barsha", 28, "Irfan"]
]

In [115]:
people

[['Shakila', 27, 'Hira'], ['ABS', 25, 'Kabir'], ['Barsha', 28, 'Irfan']]

In [116]:
df = pd.DataFrame(people)

In [117]:
df

         0   1      2
0  Shakila  27   Hira
1      ABS  25  Kabir
2   Barsha  28  Irfan

In [119]:
df = pd.DataFrame(people, columns=['Name', 'age', 'city'])

In [120]:
df

      Name  age   city
0  Shakila   27   Hira
1      ABS   25  Kabir
2   Barsha   28  Irfan

### If i would use Dictionary

In [135]:
people = {
    'Name': ["Shakila", 27, "Hira"],
    'Age': ["ABS", 25, "Kabir"],
    'City': ["Barsha", 28, "Irfan"]
}

In [136]:
df = pd.DataFrame(people)

In [137]:
df

      Name    Age    City
0  Shakila    ABS  Barsha
1       27     25      28
2     Hira  Kabir   Irfan

#### To Delete this

In [138]:
#Not Permanently Deleted
df.drop(['City'], axis=1)

      Name    Age
0  Shakila    ABS
1       27     25
2     Hira  Kabir

In [139]:
df

      Name    Age    City
0  Shakila    ABS  Barsha
1       27     25      28
2     Hira  Kabir   Irfan

In [140]:
#For permanently Deleted 
df.drop(['City'], axis=1 , inplace = True)

In [141]:
df

      Name    Age
0  Shakila    ABS
1       27     25
2     Hira  Kabir